body {
  background-image: url("images/bg.png");
  background-size:cover
}
img {
  position: absolute;
  transform: scaleX(-1);
}
div {
  vertical-align: top;
  color: white;
  font-size: 25px;
  font-family: Comic Sans MS;
  text-align: left;
}
